input[type="radio"]{
    -webkit-appearance: radio;
}

header{
	background-color: #34eba8;
	height: 50px;
}
body{
	background-color: #192363;
	margin: 0px 0px;
	color: #38a87f;
}
a{
	color: #38a87f;
}
.menu{
	display:inline-block;
	list-style-stype: none;
	text-align: right;
	padding-left: 5px;
	padding-top: 5px;
}
.menu>a{
	color: #e8fcf5;
	font-size:22px;
}
.nav__link--active>a{
	color: #38a87f;
}
.menu>a:hover{
	color: #38a87f;
}
h1{
	width: 200px;
	padding: 0px 10px;
	color: #192363;
	text-shadow: 2px 2px white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
ul{
	text-align: right;
	margin: 10px 10px;
	padding: 10px 10px;
	width: 200px;
	position: absolute;
	top:0px;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
}
.light{
	color: #a0f2d4;
}
#citation{
	font-size: 27px;
	text-align: right;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px 10px;
	line-height: 180%;	
	animation: quote 2000ms 0ms;
}
#grid{
    border: 1px solid white;
    margin : 10px 10px;
    padding : 10px 10px;
    text-align: center;
    color: #a0f2d4;
}
.item{
	width: 200px;
	height: 130px;
	display: inline-block;
	padding: 10px 10px;
	margin: 5px 5px;
	color: #a0f2d4;
}
.item>h2{
	text-align: center;
}
.item p{
	height: 50px;
}

.item:hover{
	background-color: #38a87f;
	color: white;
}
h2{
	color:#e8fcf5;
	text-align: left;
	background-color: #34eba8;
	border: solid 1px #27a376;
	border-radius: 5px;
}
#form{
    border: 1px solid #b7edc9;
    margin : 10px 10px;
    padding : 10px 10px;
	text-align: left;
}
#form>h2{
	text-shadow: 2px 2px #38a87f;
	padding: 5px 10px;
	margin: 5px 0px;
}
#form>form>label{
	color:#b7edc9;
}
#form>form>input{
	width:100%;
	background-color: transparent;
	border: solid 1px #97c2a5;
	color: #b7edc9;
}
#form>form{
	margin: 0px 0px;
}
#btnSize{
	width:200px;
	text-align:center;
	color: green;
	background-color: #a0f2d4;
	border: solid 1px black;
	border-radius: 15px;
	position: absolute;
	left:70px;
	font-size:25px;
}
#btnSize:hover{
	transition-duration: 1s;
	transform: scale(1.5);
}
#btnRotate{
	width:200px;
	text-align:center;
	color: green;
	background-color: #a0f2d4;
	border: solid 1px black;
	border-radius: 15px;
	font-size:25px;
	position: absolute;
	left:270px;
	font-size:25px;
	/*animation: roll 3s infinite;*/
}
#btnRotate:hover{
	transition-duration: 1s;
	transform: rotate(0.5turn);
}
input:hover {
  border: 1px solid white;
}
.email{
	position: absolute;
	left : 70px;
	top : 330px;
}
.email label{
	color: #9564e3;
	margin-left:5px;
}
.email input{
	width: 220px;
	height: 25px;
	border-radius: 15px;
	padding: 10px;
	font-weight:bold;
	color: #9564e3;
}
.email input:focus{
	border: 1px solid #9564e3;
}
.email input:not(:focus):invalid{
	border: 1px solid red;
	background-color:red;
}
.email input:not(:focus):not(:invalid){
	border: 1px solid green;
	background-color:#a0f2d4;
}
#btn{
	background-color:#a0f2d4;
	position:absolute;
	left:70px;
	top:400px;
	border-radius:5px;
	padding:5px 5px;
}
#btn2{
	background-color:#a0f2d4;
	width: 80px;
	border-radius:5px;
	padding:5px 5px;
	margin: 5px auto;
	text-align:center;
}
#barre{
	width:300px;
	height:20px;
	background-color: grey;
	position: absolute;
	left:70px;
	top:450px;
}
#progress{
	width:30px;
	height:18px;
	padding: 1px 1px;
	background-color: #a0f2d4;
	transition: transform 10s ease-in-out;
}
#barre:hover>#progress{
	transform: translate(270px,0px);
}
input:checked{
	margin-left: 25px;
	border: 1px solid white;
	background-color: grey;	
	color:  white;
}
.imageBox{
	width:200px;
	margin : 20px 20px;
	padding: 20px 20px;
	display: inline-block;
	border: 1px solid #e38c64;
	border-radius: 15px;
}
.imageBox>p{
	background-color: #3146bd;
	border-radius: 10px;
	padding:5px;
}
.imagesBox{
	text-align: center;
}

#btn2:active{
	transform: translateX(108px);
	transition: transform 700ms;
	overflow: hidden;
}

@keyframes quote {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
#spin{
	height:10px;
	width:10px;
	background-color:#a0f2d4;
	display: inline-block;
	animation: spin 3s infinite;
	margin: 10px 10px;
}
#spin:hover{
	animation-play-state: paused;
}
@keyframes spin {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
.partieMenus{
	display: inline-block;
	position: absolute;
	top:270px;
	text-align:center;
	margin: 0px 0px;
}
#partieMenus1{
	left:115px;
	animation: popup 2000ms 0ms;
}
#partieMenus2{
	left:215px;
	animation: popup 2500ms 0ms;
}
#partieMenus3{
	left:315px;
	animation: popup 3000ms 0ms;
}
.newmenu1{
	display: none;
	width:85px;
	background-color: #4287f5;
	border:solid 1px white;
	
}
#partieMenus1:hover .newmenu1{
	display: block;
	opacity:0.85;
}
.newmenu2{
	display: none;
	width:85px;
	background-color: #4287f5;
	border:solid 1px white;
}
#partieMenus2:hover .newmenu2{
	display: block;
	opacity:0.85;
}.newmenu3{
	display: none;
	width:85px;
	background-color: #4287f5;
	border:solid 1px white;
}
#partieMenus3:hover .newmenu3{
	display: block;
	opacity:0.85;
}
.partieMenus>p{
	border:solid 1px white;
	padding: 5px 5px;
	background-color: #4287f5;
	color: #001f52;
}
#newMenusBox a{
	background-color: #4287f5;
	color: #001f52;
	padding: 0px 0px;
	margin: 0px 0px;
	width:50px;
}
#newMenusBox a:hover{
	color: white;
}
@keyframes popup {
  from { transform: scale(0.5); }
  to   { transform: scale(1); }
}
