input[type="radio"]{
    -webkit-appearance: radio;
}

header{
	background-color: #34eba8;
	height: 50px;
}
body{
	background-color: #192363;
	margin: 0px 0px;
	color: #38a87f;
}
a{
	color: #38a87f;
}
.menu{
	display:inline-block;
	list-style-stype: none;
	text-align: right;
	padding-left: 5px;
}
.menu>a{
	color: #e8fcf5;
	font-size:22px;
}
.nav__link--active>a{
	color: #38a87f;
}
.menu>a:hover{
	color: #38a87f;
}
h1{
	width: 200px;
	padding: 0px 10px;
	color: #192363;
	text-shadow: 2px 2px white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
ul{
	text-align: right;
	margin: 10px 10px;
	padding: 10px 10px;
	width: 200px;
	position: absolute;
	top:0px;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
}
.light{
	color: #a0f2d4;
}
#citation{
	font-size: 27px;
	text-align: right;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px 10px;
	line-height: 180%;	
}
#grid{
    border: 1px solid white;
    margin : 10px 10px;
    padding : 10px 10px;
    text-align: center;
    color: #a0f2d4;
}
.item{
	width: 200px;
	height: 130px;
	display: inline-block;
	padding: 10px 10px;
	margin: 5px 5px;
	color: #a0f2d4;
}
.item>h2{
	text-align: center;
}
.item p{
	height: 50px;
}

.item:hover{
	background-color: #38a87f;
	color: white;
}
h2{
	color:#e8fcf5;
	text-align: left;
	background-color: #34eba8;
	border: solid 1px #27a376;
	border-radius: 5px;
}
#form{
    border: 1px solid #b7edc9;
    margin : 10px 10px;
    padding : 10px 10px;
	text-align: left;
}
#form>h2{
	text-shadow: 2px 2px #38a87f;
	padding: 5px 10px;
	margin: 5px 0px;
}
#form>form>label{
	color:#b7edc9;
}
#form>form>input{
	width:100%;
	background-color: transparent;
	border: solid 1px #97c2a5;
	color: #b7edc9;
}
#form>form{
	margin: 0px 0px;
}
#btnSize{
	width:200px;
	text-align:center;
	color: green;
	background-color: blue;
	border: solid 1px black;
	border-radius: 15px;
	position: absolute;
	left:70px;
	font-size:25px;
}
#btnSize:hover{
	transition-duration: 1s;
	transform: scale(1.5);
}
#btnRotate{
	width:200px;
	text-align:center;
	color: green;
	background-color: blue;
	border: solid 1px black;
	border-radius: 15px;
	font-size:25px;
	position: absolute;
	left:270px;
	font-size:25px;
}
#btnRotate:hover{
	transition-duration: 1s;
	transform: rotate(0.5turn);
}
input:hover {
  border: 1px solid white;
}
.email{
	position: absolute;
	left : 70px;
	top : 330px;
}
.email label{
	color: #9564e3;
	margin-left:5px;
}
.email input{
	width: 220px;
	height: 25px;
	border-radius: 15px;
	padding: 10px;
	font-weight:bold;
	color: #9564e3;
}
.email input:focus{
	border: 1px solid #9564e3;
}
.email input:not(:focus):invalid{
	border: 1px solid red;
	background-color:red;
}
.email input:not(:focus):not(:invalid){
	border: 1px solid green;
	background-color:green;
}