header{
	background-color: #34eba8;
	height: 50px;
}
body{
	background-color: #192363;
	margin: 0px 0px;
	color: #38a87f;
}
a{
	color: #38a87f;
}
.menu{
	display:inline-block;
	list-style-stype: none;
	text-align: right;
	padding-left: 5px;
	padding-top: 5px;
}
.menu>a{
	color: #e8fcf5;
	font-size:22px;
}
.nav__link--active>a{
	color: #38a87f;
}
.menu>a:hover{
	color: #38a87f;
}
h1{
	width: 200px;
	padding: 0px 10px;
	color: #192363;
	text-shadow: 2px 2px white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
ul{
	text-align: right;
	margin: 10px 10px;
	padding: 10px 10px;
	width: 200px;
	position: absolute;
	top:0px;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
}
.light{
	color: #a0f2d4;
}
#citation{
	font-size: 27px;
	text-align: right;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px 10px;
	line-height: 180%;	
	animation: quote 2000ms 0ms;
}
@keyframes quote {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
h2{
	color:#e8fcf5;
	text-align: left;
	background-color: #34eba8;
	border: solid 1px #27a376;
	border-radius: 5px;
}